.accordion {
    --bs-accordion-active-bg: #F9F9F9;

    --bs-accordion-btn-focus-box-shadow: none;
  }
.accordion-item{
    background-color: #F9F9F9;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }
.accordion-item{
    border-bottom: none;
}


/* 
.content{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  
  display: flex;
  justify-content: flex-start; 
  align-items: center;
} */
.carousel3 .slick-next:before {
  content: unset;
}
.carousel3 .slick-prev:before {
  content: unset;
}

.nav-link{
    color: white;
}

.top-sm{
  
    position: absolute;
    left: 10%;
    top: 20%;
    width: 50%;

    color: white;
}

.ul-menu{
  margin-left: -15rem;
}
.bg-gray {
    color: gray;
    z-index: 10;
}

.navbar > div {
 
    opacity: 5;
  z-index: 20;
}
.navbar-fullscreen {
    background-color: rgba(0, 0, 0, -4);
}
.bg-category{
    background-color: #f9f9f9;
}
.p-md-6{
   padding: 3rem 6rem;
}
.px-7{
  padding: 0 rem;
}
.slick-dots {
    position: absolute;
 
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 0px; 
    top: 100%;
    right: -1%;
    list-style: none;
    padding: 10px;
  
}
  .slick-dots li.slick-active button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
   
    border:1px solid gray;
  }
  
  .slick-dots li.slick-inactive button{
   border: none;
  }
  .slick-dots li button:hover{
   background-color: gray;
   border-radius: 50%;
  }
  .carousel2 .slick-dots {
    position: absolute;
   color: #F9F9F9;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 0px; 
    top: 90%;
    right: -1%;
    list-style: none;
    padding: 10px;

  
}
.carousel2 .slick-dots li button:before{
    color: white;
    opacity: 5;
}
.carousel2 .slick-dots li.slick-active button:before{
  color: white;
  opacity: 5;
}
.carousel2  .slick-dots li.slick-active button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
   
    border-left:  1px solid #f9f9f9;
    border-right:  1px solid #f9f9f9;
    border:1px solid #F9F9F9;
  }
  .carousel2  .slick-dots li.slick-inactive button{
    border: none;
   }
 .carousel2  .slick-dots li button:hover{
    background-color:lightgrey;
    border-radius: 50%;
   }
.navbar{
  background-color: black;
}
   
.navbar-toggler{
  box-shadow: none;
  
}
.navbar-toggler:focus{
box-shadow: none;
}
.input-email::placeholder{
  color: white;
}
.navbar-nav .dropdown-menu {
  position: absolute;

}
.dropdown-menu .dropdown-item:hover {
  background-color: transparent !important; 
  color: #ffffff;
}
.guide-button{
  font-size: 0.7rem;
}
.fs-7{
  font-size: 0.8rem;
}
.card-bg{
  background:  #1F4B43;
}
.card-icon{
  text-align: center;
  max-width:300px;
  min-width: 90px;
  margin: 0 auto;
}

@media screen and (max-width:1200px){
 
    .top-sm{
        top: 20%;
    }
    .navbar-toggler{
        color: azure;
    }
    .navbar > div{
      display: flow;
      
    }
    .number{
      display: none;
    }
    .navbar-nav .dropdown-menu {
      position: absolute;
      width: 80vw;
    
    }
   
  
  
    
}

@media screen and (max-width: 990px) {
  .ul-bg {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100vw; 
  }
  .ul-menu{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-item {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 8px 20px; 
  }


  .navbar-collapse {
    width: 100%;

  }

  .navbar-nav {
    align-items: start; 
    text-align: left;
  }
  .bottom-menu{
    margin-left: 4rem;
    gap:1rem;
    align-items: center;
  }
  .header-h6{
    font-size: 0.6rem;
  }
  .guide-button{
    font-size: 0.6em;
  }
  .fs-md-1{

    font-size: 1.5rem;
  }
  .sale{
    font-size: 0.8rem;
  }
}



@media screen and (max-width: 680px) {
  /* .bottom-menu{
   
    align-items:center;
    gap: 1rem;

  } */
  .type{
    display: inline;
  }
 

  /* .header-h6{
    font-size: 0.4rem;
  }
  .guide-button{
    font-size: 0.4em;
  }
  .fs-md-1{

    font-size: 1rem;
  }
  .sale{
    font-size: 0.6rem;
  }
  .view{
    font-size: 0.6rem;
    margin-left: 5px;
  } */
}
  
  @media screen and (max-width: 400px) {
    
    .bottom-menu{
      flex-direction: column;
      align-items:baseline;
      gap: 1rem;
    }
    /* .header-h6{
      font-size: 0.3rem;
    }
    .guide-button{
      font-size: 0.3em;
    }
    .fs-md-1{
  
      font-size: 0.7rem;
    }
    .sale{
      font-size: 0.4rem;
    }
    .propertyimage{
      display: none;
      
    } */
  }